<h1>Projetos e Desafios</h1>

<span>O maior desafio que tive em toda carreira de T.I, quando escolhi o que realmente faria sentido para minha vida profissional. Não tem como ficar sem falar em desafio em programação sem contar minha trajetória até aqui, quando comecei minha carreia de programador em um projeto de transição de carreira.
    Meu maior desafio, foi sair da área de projetos, e partir para programação, onde não tinha nenhuma experiência apenas estudos em faculdade, pois desisti de tudo para conseguir uma vaga onde sempre desejei alcançar, sabendo que não seria fácil, recomeçar tudo novamente.
</span><br /><br />

<span>
    Tecnologia utilizada: ASP.NET Core MVC 1.0<br />
    .Net core 3.5 para API (Um comunicador para disponibilizar endpoint para clientes e terceiros via integração).<br />
    APIM - Uma plataforma utilizada para documentação dos endpoints e acessos dos clientes.<br />
    Arquitetura: Monolítica.<br />
    Atuei como desenvolvedor FullStack<br />
</span><br />

<span>
    Este desafio me marcou bastante, pois estou em busca de novos aprendizados e novas experiências, em pouco mais de 1(um) ano estar participando de uma vaga para desenvolvedor, onde consigo aplicar meus estudos e práticas adquiridas até o momento.<br />
    Consiste em consolidar meu nível de conhecimento e prática.
</span>

