@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <div class="container apresentacaoHome">
        <p>Nome Candidato: <span class="label label-default">Lucas Henrique Faria de Deus</span></p>
        <p>Cargo pretendido: <span class="label label-default">Desenvolvedor Pleno</span></p>
        <p>Pretensão salarial: <span class="label label-default">R$ 5.000,00</span></p>
        <p>Data do teste: <span class="label label-default">08/03/2023</span></p>
    </div>
</div>

<style>
    .apresentacaoHome {
        text-align: center; /* centraliza o conteúdo horizontalmente */
    }

    .apresentacaoHome p {
            display: block; /* permite que as tags <p> fiquem uma ao lado da outra */
            text-align: justify; /* justifica o conteúdo dentro das tags <p> */
    }
</style>