<form method="post" enctype="multipart/form-data" asp-action="ImportarRegistrosPonto">
    <div class="form-group">
        <label for="arquivo">Selecione o arquivo</label>
        <input type="file" class="form-control-file" id="arquivo" name="arquivo">
    </div>
    <button type="submit" class="btn btn-primary">Enviar</button>
</form>
